$purple: #3f51b5;
$light_purple: #7986cb;

$blue: #2196f3;
$light_blue: #64b5f6;

$red: #f44336;
$light_red: #e57373;

$amber: #ffc107; 
$light_amber: #ffd54f;  

$orange: #ff9800;
$light_orange: #ffb74d;

$green: #4caf50;
$light_green: #81c784;

$teal: #004d40;
$light_teal: #00796b;

$lime: #cddc39;
$light_lime: #dce775;

$blue_grey: #607d8b;
$light_blue_grey: #90a4ae;

$grey: #bdbdbd;
$light_grey: #eeeeee;

$card-radius: 5px;