@import '_variables';

.card{
    display: inline-flex;
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 3px $grey;
    border-radius: $card-radius;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: pointer;
    .card-header{
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px $light_grey solid;
    }
    .card-description{
        padding: 5px;
    }
}